{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h3 class="mb-3">Change Password</h3>
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Change Password</button>
        <span class="m-3">Forgot password? <a href="{% url 'account_reset_password' %}">Reset now</a></span>
    </form>
{% endblock %}
