{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Profile Settings{% endblock %}

{% block head_links %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div style="max-width: 1400px; width: 100%;">
        <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}


            <div class="row">
            {#  left panel - profile picture #}
                <div class="col-md-3">
                    <div class="card m-2">
                        <div class="card-header">Profile Picture</div>
                         <img src="{{ user.avatar.url }}" id="userPicture" class="card-img-top img-fluid rounded-circle m-auto border border-5 mt-4" style="max-width: 60%; max-height:60%;" alt="{{ user.username }} picture">
                        <div class="card-body">

                            {{ form.avatar.errors }}
                            {% render_field form.avatar class="form-control form-control-sm" %}
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card m-2">
                        <div class="card-header">Personal Info</div>
                        <div class="card-body">
                            <div class="mb-3">
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <label for="id_first_name" class="form-label">First Name:</label>
                                        {% render_field form.first_name class="form-control" %}
                                    </div>
                                    <div class="col">
                                        <label for="id_last_name" class="form-label">Last Name:</label>
                                        {% render_field form.last_name class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="id_username" class="col-sm-2 col-form-label">Username:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                      <span class="input-group-text" id="span_username">@</span>
                                      <input type="text" class="form-control" id="id_username" placeholder="Username" aria-label="Username" aria-describedby="span_username" value="{{ user.username }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                  <div class="input-group">
                                      <span class="input-group-text" id="span_email"><i class="bi bi-envelope-fill"></i></span>
                                      <input type="email" class="form-control" id="id_email" placeholder="Email" aria-label="Email" aria-describedby="span_email" value="{{ user.email }}" disabled>
                                          {% if user.email.verified %}
                                              <span class="input-group-text bg-success text-light"><i class="bi bi-check-lg"></i> Verified </span>
                                          {% else %}
                                              <span class="input-group-text bg-danger text-light"><i class="bi bi-x-lg"></i> Not Verified </span>
                                              <a href="{% url 'send-verification' %}" class="btn btn-light btn-outline-primary input-group-text">Send email verification</a>
                                          {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% if form.gender %}
                            <div class="mb-3 row">
                                <label for="id_gender" class="col-sm-2 col-form-label">Gender:</label>
                                <div class="col-sm-10">
                                  {% render_field form.gender class="form-select" %}
                                </div>
                            </div>
                        {% endif %}
                        {% if form.bio %}
                            <div class="mb-3 row">
                                <label for="id_bio" class="col-sm-2 col-form-label">Bio:</label>
                                <div class="col-sm-10">
                                    {% render_field form.bio class="form-control" placeholder="Write short bio..." %}
                                </div>
                            </div>
                        {% endif %}
                        {% if form.birth_date %}
                            <div class="mb-3 row">
                                <label for="id_birth_date" class="col-sm-2 col-form-label">Birth Date:</label>
                                <div class="col-sm-10">
                                    {% render_field form.birth_date class="form-control" type="date" %}
                                </div>
                            </div>
                        {% endif %}
                        {% if form.location %}
                             <div class="mb-3 row">
                                <label for="id_location" class="col-sm-2 col-form-label">Location:</label>
                                <div class="col-sm-10">
                                    {% render_field form.location class="form-select" %}
                                </div>
                            </div>
                        {% endif %}
                        {% if form.phone_number %}
                             <div class="mb-3 row">
                                <label for="id_phone_number" class="col-sm-2 col-form-label">Phone:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                                    {% render_field form.phone_number class="form-control" %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if form.website %}
                             <div class="mb-3 row">
                                <label for="id_website" class="col-sm-2 col-form-label">Website:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-link-45deg"></i></span>
                                    {% render_field form.website class="form-control" %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="mb-3">
                        {% render_field form.is_private|add_label_class:"form-check-label" %}
                        {% render_field form.is_private class="form-check-input" %}
                    </div>
                </div>
            </div>


            <button id="submitBtn" type="submit" class="btn btn-primary w-100">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    let userPicture = document.getElementById('userPicture');
    const pictureParent = userPicture.parentElement;
    const avatar = document.getElementById('id_avatar');

    avatar.addEventListener('change', function() {
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            if (userPicture.tagName === 'IMG'){
                userPicture.alt = file.name;
                userPicture.src = e.target.result;
            }
            else{
                pictureParent.removeChild(userPicture);
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = file.name;
                img.className = 'img-fluid rounded-circle';
                img.width = 150;
                pictureParent.insertBefore(img, pictureParent.children[0]);
                userPicture = img;
            }
        }
        reader.readAsDataURL(file);
    });
</script>
{% endblock %}