{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div style="max-width: 700px; width: 100%;">
        <div class="card-body">
            <h2 class="mb-3 text-center">Edit Profile</h2>

            <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row mb-4">
                        <!-- Avatar Section -->
                        <div class="col">
                            {% if user.avatar %}
                                <img id="userPicture" src="{{ user.avatar.url }}" alt="Profile Picture" class="img-fluid rounded-circle border border-secondary" width="150">
                            {% else %}
                                <div id="userPicture" class="d-flex align-items-center justify-content-center rounded-circle text-white" style="background-color: {{ user.color }}; width: 150px; height: 150px;">
                                    <span class="fw-bold fs-3">{{ user.first_name|first|upper }}{{ user.last_name|first|upper }}</span>
                                </div>
                            {% endif %}
                            <div class="mt-3">
                                <label for="id_avatar" class="form-label">Change Avatar: </label>
                                {{ form.avatar }}
                            </div>
                        <div class="mb-3 mt-3">
                                <label for="id_username" class="form-label">Username:</label>
                                <input id="id_username" type="text" class="form-control" value="{{ user.username }}" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email:</label>
                                <input id="id_email" type="email" class="form-control" value="{{ user.email }}" disabled>
                            </div>
                        <hr class="mt-4">
                        <div class="mb-3">
                    {% if user.is_verified %}
                        <span class="text-success">
                             <i class="bi bi-check-circle-fill"></i> Verified
                         </span>
                    {% else %}
                        <div class="d-flex justify-content-between align-items-center">
                         <span class="text-danger">
                             <i class="bi bi-x-circle-fill"></i> Not verified
                         </span>
                        <a href="{% url 'account_email' %}" class="btn btn-warning">Verify email</a>
                        </div>

                    {% endif %}
                </div>
                        </div>

                        <!-- Username and Email Section -->
                        <div class="col">
<div class="mb-3">
                    {% render_field form.first_name|add_label_class:"form-label" %}
                    {{ form.first_name.errors }}
                    {% render_field form.first_name class="form-control" %}
                </div>
                <div class="mb-3">
                    {% render_field form.last_name|add_label_class:"form-label" %}
                    {{ form.last_name.errors }}
                    {% render_field form.last_name class="form-control" %}
                </div>
                <div class="mb-3">
                    {% render_field form.birth_date|add_label_class:"form-label" %}
                    {{ form.birth_date.errors }}
                    {% render_field form.birth_date class="form-control" %}
                </div>
                <div class="mb-3">
                    {% render_field form.bio|add_label_class:"form-label" %}
                    {{ form.bio.errors }}
                    {% render_field form.bio class="form-control" %}
                </div>
                <div class="mb-3">
                    {% render_field form.location|add_label_class:"form-label" %}
                    {{ form.location.errors }}
                    {% render_field form.location class="form-control" %}
                </div>
                <div class="mb-3">
                    {% render_field form.is_private|add_label_class:"form-check-label" %}
                    {% render_field form.is_private class="form-check-input" %}
                </div>


                        </div>
                    </div>

                <button id="submitBtn" type="submit" class="btn btn-primary w-100">Save changes</button>
            </form>
            <div class="text-center mt-2">
              Back to <a href="{% url 'index' %}" class="text-decoration-none">Home page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let userPicture = document.getElementById('userPicture');
    const pictureParent = userPicture.parentElement;
    const avatar = document.getElementById('id_avatar');

    avatar.addEventListener('change', function() {
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            if (userPicture.tagName === 'IMG'){
                userPicture.alt = file.name;
                userPicture.src = e.target.result;
            }
            else{
                pictureParent.removeChild(userPicture);
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = file.name;
                img.className = 'img-fluid rounded-circle';
                img.width = 150;
                pictureParent.insertBefore(img, pictureParent.children[0]);
                userPicture = img;
            }
        }

        reader.readAsDataURL(file);
    });
</script>
{% endblock %}