{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ profile_user.username }}'s Profile
{% endblock %}

{% block content %}
    <h3 class="mb-3">{{ profile_user.username }}'s Profile</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ profile_user.avatar.url }}" class="img-fluid rounded-circle" alt="{{ profile_user.username }}">
        </div>
        <div class="col-md-8">
            <h4>{{ profile_user.username }}</h4>
            {% for field in form %}
            <div class="mb-3 row">
              <label for="{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    {% if field.value %}
                        {% render_field field class="form-control-plaintext" disabled="disabled" %}
                    {% else %}
                        <p class="form-control-plaintext text-muted">No {{ field.label }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}